i{
    transition: 1s;
}
.transition-arrow:hover{
  margin-left: 90px;
}
body{
  transition: 2s;
}
html{
   scroll-behavior: smooth;
}
a{
  transition: 0.5s;
}
/* .donate-now-txt{
  transition: 1s;
}
.donate-now-txt:hover{
  font-size: 16px;
} */


.amount-input{
  transition: 1s;
}
.amount-input:hover{
  /* width: 300px; */
  height: 45px;
}

.learn-more{
  transition: 0.6s;
}
.learn-more:hover{
  padding-left: 3%;
  padding-right: 3%;
  background-color:#0a7d74;
  border: none;
}
.pages-list{
  transition: 0.1s;
}
.pages-list:hover{
 opacity: 1;
}

.subscribe-text{
  transition: 0.3s;
}


.fa-brands:hover{
  transition: 0.5s;
padding: 17px;
background-color: #16dacb;
transform: rotate(0deg);
}
