.events-cal {
  background: linear-gradient(to right, rgba(102, 159, 91, 0.85), rgba(92, 194, 71, 0.85)), url(https://cdn.meetingstoday.com/sites/default/files/picture/Beach_Event2.jpg) ;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-attachment: fixed;
}
.events-cal>h1 {
  padding: 100px;
  font-size: 80px;
  margin: 0;
  text-align: center;
  font-weight: 800;
  color: #ffff;
  padding-top: 195px;
  padding-bottom: 150px;
}
.subscribe-h1{
  margin-top: 0;
}
.event-list{
  padding: 5% 10%;
  background-color: #ddf5f3;
}
.event-list .event img{
  width: 300px;
}
.event-list h1{
  text-align: center;
  font-size: 35px;
  color: black;
  font-weight: 700;
}

.event{
  display: flex;
  margin-bottom: 50px;
  background-color: #ffff;
  padding: 2% 5%;
}
.event h2{
  font-weight: 300;
  margin-top: 5px;
}
.event h4{
    font-weight: 300;
    font-size: 16px;
}
.event h3{
      color: #f86432;
}
.image-event{
  width: 300px;

}
.content-event{
  max-width: 60%;
  padding-left:3%;
}
.event-list .content-event button{
    background-color: #4eb6ae;
    border: transparent;
    font-size: 15px;
    color: #ffff;
    font-weight: 700;
    padding:10px 20px;
    border-radius: 3px;
}
